    <div class="container" id="home-container">
        <div class="jumbotron text-center text-white">
            <h1 class="display-4"><strong>Alpha Blog</strong></h1><br />
            <p class="lead">Blogging made simple!</p>
            <hr class="my-4">
            <%= link_to  "Sign up!", signup_path, class: "btn btn-primary btn-lg" %>
        </div>
    </div>