    <div class="container" id="home-container">
        <div class="jumbotron text-center text-white">
        <h1 class="display-4">Alpha Blog</h1><br/>
        <p class="lead">Blogging made simple!</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="#" role="button">Sign-up</a>
        </div>
    </div>
